body { padding-top: 30px; padding-bottom: 30px; background-color: #ccc; }

.error-summary { border: 2px solid #C00; padding: 7px 7px 12px 7px; margin: 0 0 20px 0; background: #FEE; font-size: 0.9em; }
.error-summary p { margin: 0; padding: 5px; }
.error-summary ul { margin: 0; padding: 0 0 0 20px; }

.nav .nav-user-name { font-size: 1.1em; margin-top: 15px; margin-right: 20px; }

.used-item-row { padding: 10px 0; }
.used-item-row img { width: 250px; margin: 20px 20px; }
.used-item-row .item-price { font-size: 3em; font-weight: bold; margin-top: 50px; }
.used-item-row .item-description { font-size: 1.2em; margin-top: 10px; }

.search-item-block { width: 900px; background: #eee; padding: 15px; margin: 0 0 20px 0; }

.btn-search { margin-top: 30px; margin-bottom: 10px; }

.more-link { font-size: 1.1em; }

.bg-info { padding: 13px; font-size: 1.2em; font-weight: bold; }

.link-reset-filter { font-size: 1.1em; margin: 15px 0; padding-top: 10px; }

.form-signin-heading { text-align: center; }

.form-signin { margin: 0 auto; padding: 15px; max-width: 400px; }
.form-signin input { margin: 10px 0; }

.form-signup-heading { text-align: center; }

.form-signup { margin: 30px auto; max-width: 500px; }

.signup-suggestion { margin-top: 20px; font-size: 1.2em; }

.item-info-table { font-size: 1.1em; }
.item-info-table td { padding: 10px; }
.item-info-table .item-param-name { text-align: right; width: 50%; padding-right: 20px; }

.item-view-info { margin-top: 40px; }
